:root{
  font-size: 62.5%;
  --color-header-text: #ffffff;
  --color-bck-header:#4A90E2;
  --color-comment-primary:#EEEEEE;
  --color-text-time:#9A9A9A;
  --color-text-profile:#4A4A4A;
  --color-text-main:#3E3E3E;
  --color-bck:#F2F2F2;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background:var(--color-bck);
}

#app{

  max-width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
