
/*Configuraçãodo Header*/
header{
  background:var(--color-bck-header);
  color: var(--color-header-text);
  height: 6.4rem;
  position: fixed;
  top: 0;
  width: 100vw;
}

header > div{
  height: 100%;

  margin: 0 auto;
  max-width: 1000px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > div div{
  display: flex;
  align-items: center;
  justify-content: center;
}

header div#my-profile span{
  margin-right: 1.6rem;
  font-size:1.6rem;
}

header div#my-profile i{

  font-size:3.2rem;
}

/*Breakpoints*/

@media(max-width:425px){
  header div#my-profile span{
    display: none;
  }
}
