<strong>Olá, {{deliveryman}}</strong>

<p>Existe uma nova encomenda disponível para entrega, confira os detalhes abaixo:</p>

<p>
  <strong>Cliente:</strong> {{recipient}} <br/>
  <strong>Produto:</strong> {{product}} <br/>
  <strong>Endereço:</strong> {{adress}} <br/>


  <br/>

  <small>As retiradas só podem ser feitas entre as 08:00 e 18:00h.</small>

</p>
